.env
.resized-cache/
.turbo/
npm-debug.log
node_modules/
**/node_modules/

pacakges/web/build/
packages/server/build/
packages/common/dist

**/gapi-key.json

yarn-error.log

sslcert/
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
stats.json
.tsbuildinfo
.eslintcache
.stylelintcache
sycpiano.zip