.env
.resized-cache/
.turbo/
npm-debug.log
node_modules/
**/node_modules/

packages/web/build/
packages/server/build/
packages/common/dist/
packages/admin/build/

**/gapi-key.json
**/stats.html

yarn-error.log

sslcert/
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
stats.json
.tsbuildinfo
.eslintcache
.stylelintcache
sycpiano.zip

assets/images
assets/music
assets/products

docker-compose*